{% extends 'base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock %}

{% block body %}

<div class="wrapper">
    {% include 'dashboard/includes/sidebar.html' %}
    <div class="main-panel">
        {% include 'dashboard/includes/navigation.html' %}
        <div class="content">
            {% include 'dashboard/includes/upload_section.html' %}
        </div>

        {% include 'dashboard/includes/footer.html' %}
    </div>
</div>

{% endblock body %}


{% block javascripts %}

{% include 'dashboard/includes/scripts.html' %}
{% include 'dashboard/includes/scripts-sidebar.html' %}

<script src="{% static 'js/upload.js' %}"></script>
<script src="{% static 'js/core/jquery.min.js' %}"></script>
<script src="{% static 'js/core/popper.min.js' %}"></script>
<script src="{% static 'js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
<script src="{% static 'js/plugins/bootstrap-notify.js' %}"></script>
<script src="{% static 'js/black-dashboard.min.js' %}"></script>